<!-- portfolio page markup -->
<article class="hot-topic">
    <h2>Projects</h2>
</article>
<div class="proj">    
    <article class="project">
        <figure class="proj">
            <iframe class="focus-proj" src="https://www.youtube.com/embed/EToPPrekzI4" height="300"></iframe>
        </figure>
        <div class="proj-desc">
            <h5>Use Your Brain Like A Pro</h5>
            <p>Explainer Video<br>
            Vector Illustration | Motion Graphics Design | Video & Audio Editing<br>
            (March 2022)</p>
        </div>

    </article>
    <article class="project">
        <figure class="proj">
            <iframe class="focus-proj" src="https://www.youtube.com/embed/S8fd8GQ6wsc" height="300"></iframe>

        </figure>
        <div class="proj-desc">
            <h5>Sprout Clickable Icon</h5>
            <p>Interactive Icon & Click Reaction <br>
            Vector Illustration | Motion Graphics Design <br>
            (April 2022)</p>
        </div>
    </article>
    <article class="project">
        <figure class="proj"><img src="./img/proj-12.jpg" alt="image of project 12">
        </figure>
        <div class="proj-desc">
            <h5>Ken's Everyday Moments</h5>
            <p>Vector Illustration<br>
            (January 2022)</p>
        </div>

    </article>
    <article class="project">
        <figure class="proj"><img src="./img/proj-7.png" alt="image of project 7">
        </figure>
        <div class="proj-desc">
            <h5>Green Today, Better Tomorrow</h5>
            <p>Web Design & Development<br>
            (March 2022)</p>
        </div>

    </article>
    <article class="project">
        <figure class="proj"><img src="./img/proj-6.png" alt="image of project 6">
        </figure>
        <div class="proj-desc">
            <h5>Prontochow</h5>
            <p>Web Design & Development<br>
            (March 2022)</p>
        </div>

    </article>
    <article class="project">
        <figure class="proj"><img src="./img/proj-11.jpg" alt="image of project 11">
        </figure>
        <div class="proj-desc">
            <h5>Botany Magazine</h5>
            <p>Photography | Photo Editing | Graphic Design<br>
            (December 2021)</p>
        </div>

    </article>
    <article class="project">
        <figure class="proj"><img src="./img/proj-10.jpg" alt="image of project 10">
        </figure>
        <div class="proj-desc">
            <h5>Flow Moodboard</h5>
            <p>Photography | Photo Editing | Graphic Design | Branding Design<br>
            (September 2021)</p>
        </div>

    </article>

</div>